.mainPageSide {
  width: 23vw;
  height: 600px;

  position: fixed;
  top: 50px;
  // margin-right: 100px;
  z-index: 0;
  .mainPageSide-container {
    margin-top: 100px;
    margin-left: 50px;
  }
}
