.mainPage-right {
  width: 30vw;

  position: fixed;
  right: 0px;
  z-index: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainPage-right-container {
    position: relative;
    top: 60px;
  }
  .best-test-results {
    background-color: rgb(48, 250, 240);
    width: 200px;
    border-radius: 10px;

    img {
      width: 200px;
      height: 140px;
    }
  }
  .best-memory-player {
    background-color: rgb(109, 250, 48);
    width: 200px;
    border-radius: 10px;
    img {
      width: 200px;
      height: 140px;
    }
  }
}
