.memoryCard {
  display: flex;
  justify-content: center;

  .memoryCard-container {
    margin-top: 50px;
    width: 80vw;

    .the-cards {
      display: flex;
      justify-content: center;
    }
  }
}
