.memoryLayout {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.bicEYEZ3sEPWRbHvKtC9_gHaEr&pid=Api&P=0");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}
