.the-wall {
  min-height: 600px;

  .the-wall-container {
    display: flex;
    justify-content: space-between;
    .mainpage-main {
      .wall-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;
        top: 50px;
      }
    }
  }
}
