.the-wall {
  min-height: 600px;

  .the-wall-container {
    display: flex;
    justify-content: space-between;
    .mainpage-main {
      .wall-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;
        top: 50px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .the-wall {
    min-height: 600px;
    display: flex;

    .the-wall-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .mainpage-main {
        display: flex;
        flex-direction: column;

        gap: 10px;
        align-items: center;
        position: relative;
        top: 50px;
      }
      .mainpage-left {
        display: none;
      }
      .mainpage-right {
        display: none;
      }
    }
  }
}
