.sign-up {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.rvYy3dhcw5YWFuvCw6sEAAHaFH&pid=Api&P=0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
