.home {
  background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30480.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 600px;

    .login-to-the-app {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 70px;
        font-family: "Times New Roman", Times, serif;
        margin-bottom: 100px;
        span {
          color: rgb(122, 0, 128);
        }
      }
    }
  }
}
