.the-test {
  background-color: #a5b7fd;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 95vw;
  }
  .test-container {
    .before-test {
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .starter-question {
        font-size: 40px;
      }
      .button-starter {
        .starter {
          width: 100px;
          height: 40px;
          border-radius: 8px;
          background-color: aqua;
        }
      }
    }
  }
}
