.nav {
  width: 100vw;

  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  .nav-container {
    width: 95vw;
    height: 70px;

    .logo-container {
      display: flex;
      justify-content: center;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    .menu-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      width: 250px;
      height: 70px;
    }
    .nav-buttons {
      display: flex;
      align-items: center;
      width: 150px;

      height: 70px;
      justify-content: space-between;
    }
  }
}
