@import "../../Mixins//tests";
.tests-page {
  min-height: 600px;
  background-image: url("https://s.abcnews.com/images/US/GTY_standardized_test_form_jt_150601_16x9_992.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tests-page-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tests-section {
      display: flex;
      width: 80vw;
      justify-content: space-between;

      .math-test {
        @include test;
        img {
          width: 200px;
          height: 170px;
        }
        .buttons-level-math {
          @include testContainer;
          button {
            @include buttonsLevel;
          }
        }
      }
      .geo-test {
        @include test;
        img {
          width: 200px;
          height: 170px;
        }
        .buttons-level-geo {
          @include testContainer;
          button {
            @include buttonsLevel;
          }
        }
      }
      .music-test {
        @include test;
        img {
          width: 200px;
          height: 170px;
        }
        .buttons-level-music {
          @include testContainer;
          button {
            @include buttonsLevel;
          }
        }
      }
    }
  }
}
