@import "../../Mixins//tests";
.tests-page {
  min-height: 600px;
  background-color: #a5b7fd;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tests-page-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tests-section {
      display: flex;
      width: 80vw;
      justify-content: space-between;

      .math-test {
        @include test;
        img {
          width: 200px;
          height: 170px;
        }
        .buttons-level-math {
          @include testContainer;
          button {
            @include buttonsLevel;
          }
        }
      }
      .colors-test {
        @include test;
        img {
          width: 200px;
          height: 170px;
        }
        .buttons-level-colors {
          @include testContainer;
          button {
            @include buttonsLevel;
          }
        }
      }
      .animals-test {
        @include test;
        img {
          width: 200px;
          height: 170px;
        }
        .buttons-level-animals {
          @include testContainer;
          button {
            @include buttonsLevel;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .tests-page {
    min-height: 1200px;
    .tests-page-container {
      .tests-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        gap: 50px;
      }
    }
  }
}
